NET "w_data[0]" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "w_data[1]" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "w_data[2]" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "w_data[3]" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "write_en" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "read_en" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "clr" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;

NET "r_data[0]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "r_data[1]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "r_data[2]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "r_data[3]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "empty" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "full" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;